.signupModalOutercontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #0000004d;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.loginModalInnercontainer {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 350px;
  background: var(--token-VOsr-Sq_o);
  left: 0px;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 4px 16px 0px #0000004d;
  overflow: auto;
  min-width: 0;
  border-radius: 13px;
  padding: 0px 0px 8px;
}
.freeBox__fgu1Q {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  min-width: 0;
  padding: 8px 8px 0px;
}
.svg__b8HyV {
  object-fit: cover;
  color: var(--token-OYFemhVRO);
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}
.freeBox__qkkje {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px;
}
.freeBoxglobal_lightMode_lightModeColors__qkkjefsG7C {
  display: flex;
}
.loginModalBannercontainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: -20px;
  margin-bottom: 5px;
  min-width: 0;
  padding: 0px 8px;
}
.loginModalBannercontainer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.loginModalBannercontainer > :global(.__wab_flex-container) > *,
.loginModalBannercontainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.loginModalBannercontainer > :global(.__wab_flex-container) > picture > img,
.loginModalBannercontainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.loginModalBannercontainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: -20px;
  margin-bottom: 5px;
  min-width: 0;
  padding: 0px 8px;
}
.loginModalBannercontainersignIn_signInInfoEntered {
  display: flex;
}
.loginModalBannercontainersignIn_signInInfoEntered {
  display: flex;
}
.text__bMdfm {
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: "Barlow", sans-serif;
  color: var(--token-OYFemhVRO);
  font-weight: 600;
  font-size: 21px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 49px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.divider__zJxBs:global(.__wab_instance) {
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: 100%;
  margin-bottom: 15px;
  min-width: 0;
  display: none;
}
.dividerglobal_lightMode_lightModeColors__zJxBsfsG7C:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.dividersignIn_signInNothingEntered__zJxBs8Gw3T:global(.__wab_instance) {
  left: auto;
  top: auto;
  display: flex;
}
.dividersignIn_signInInfoEntered__zJxBs3CWbz:global(.__wab_instance) {
  display: flex;
}
.loginTextInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.loginTextInputsignIn_signInNothingEntered:global(.__wab_instance) {
  display: flex;
}
.loginTextInputsignIn_signInInfoEntered:global(.__wab_instance) {
  display: flex;
}
.svg__oW65U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__paEqb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loginPasswordTextInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 15px;
}
.svg__pYu1F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nMn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.signupModalRegistrationformsignIn_signInNothingEntered:global(
    .__wab_instance
  ) {
  display: none;
}
.signupModalRegistrationformsignIn_signInInfoEntered:global(.__wab_instance) {
  display: none;
}
.text___9GT {
  position: relative;
  text-align: center;
  font-family: "Barlow", sans-serif;
  line-height: 1.3;
  padding-left: 20px;
  padding-right: 20px;
}
.normalButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-top: 20px;
  min-width: 0;
  display: none;
}
.normalButtonsignIn_signInNothingEntered:global(.__wab_instance) {
  display: flex;
}
.normalButtonsignIn_signInInfoEntered:global(.__wab_instance) {
  display: flex;
}
.svg__b4Ot {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wIjc3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__jrx2Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.text__ci37K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: var(--token-OYFemhVRO);
  font-size: 18px;
  cursor: pointer;
  min-width: 0;
  display: none;
}
.textsignIn_signInNothingEntered__ci37K8Gw3T {
  display: block;
}
.textsignIn_signInInfoEntered__ci37K3CWbz {
  display: block;
}
.text__tgZ2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: var(--token-OYFemhVRO);
  font-size: 18px;
  cursor: pointer;
  min-width: 0;
}
.textsignIn_signInNothingEntered__tgZ2K8Gw3T {
  display: none;
}
.textsignIn_signInInfoEntered__tgZ2K3CWbz {
  display: none;
}
.divider__mn0Ii:global(.__wab_instance) {
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
  margin: 10px 0px 8px;
}
.text__pIbX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: var(--token-OYFemhVRO);
  font-size: 18px;
  cursor: pointer;
  min-width: 0;
}
